/*
  *{outline: 1px solid red;  /*shows all element boundaries*/ 
  
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap');

/* noto-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-v33-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-serif-v33-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-v33-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/noto-serif-v33-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/noto-serif-v33-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/noto-serif-v33-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

  :root {
    --primary-color: #8a6c52;
    --secondary-color: #181411;
    --text-light: #f8f9fa;
    --text-dark: #343a40;
}

body {
    font-family: noto-serif , Noto Serif;
    color: var(--text-dark);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

.navbar-brand {
    color: var(--primary-color) !important;
    font-weight: 900;
}

.nav-link {
    color: var(--text-dark) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.btn-primary:hover {
    background-color: #c0620f56;
    border-color: #c0610f;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('media/images/place-bg.png') center/cover no-repeat;
   
    min-height: 80vh;
    color: var(--text-light);
}

#order-now{

background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('media/images/bg.png') center/cover no-repeat;
 color: var(--text-light);

}

section {
    padding: 2rem 0;
}



.embed-responsive-item {
max-width: 100%;
  object-fit: contain; 
}